@import "tailwindcss";

@theme {
  --color-main: var(--background);
  --color-main-foreground: var(--foreground);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  background: var(--background);
  color: var(--foreground);
}

select {
  background-color: var(--background);
  color: var(--foreground);
  transition:
    background-color 0.5s ease,
    color 0.5s ease;
}

button,
input,
select {
  cursor: pointer;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  user-select: none;
}
