@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  background: var(--background);
  color: var(--foreground);
  transition:
    --background 0.5s ease,
    --foreground 0.5s ease,
    color 0.5s ease;
}

button,
input,
select {
  cursor: pointer;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  user-select: none;
}
